<!doctype html>
<html data-theme="light" lang="es">
<head>
    <meta charset="utf-8"/>
    <title>Demo DBJ Icons</title>
    <script src="./dbj-icon.js" type="module"></script>
</head>
<body>
<script src="./dbj-icon.js" type="module"></script>
<script src="./../buttons/01/dbj-btn01.js" type="module"></script>

<p style="color:#0ea5e9">
    Texto con icono heredando color →
    <dbj-icon name="sparkle" size="20"></dbj-icon>
</p>

<dbj-icon color="#10b981" name="download" size="28"></dbj-icon>
<dbj-icon name="sparkle" size="1.5rem"></dbj-icon>
<dbj-btn01 id="btn-generar" label="Generar"></dbj-btn01>

</body>
</html>
